.container{
    width: 90%;
    position:relative;
    left: 5%;
}

h1{
    font-family: monospace;
    cursor: pointer;
}

.top_header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    line-height: 100px;
}

nav span {
    margin-left: 30px;
    font-family: montserrat;
    cursor: pointer;
}

nav span:hover {
    text-decoration: underline;
}

.btn{
    width:150px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: montserrat;
    cursor: pointer;
    user-select: none;
}

.palitra {
    width: 500px;
    height: 50px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    margin-left: -250px;
    justify-content: space-around;
    display: none;
}

.colorItem {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}
#pink {
    background-color: pink;
}
#orange {
    background-color: orange;
}

.settings {
    position: fixed;
    right: 50px;
    top: 40px;
}

.settWindow{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    border-radius: 10px;
    background-color: (255, 255, 255, .7);
    display: none;
}